*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 16 default * 16px = 10px
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem; // 1.6 * 10 = 16px
  font-family: $font-primary;
  box-sizing: border-box;
  // color: $color-light;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

