// COLOR VARIABLES
$color-dark: #111827;
$color-display: #F3F4F6;
$color-white: #ffffff;
$color-violet: #5D5FEF;
$color-stroke: #C4C4C4;
$color-move: #6B7280;
$color-toggle-bg: #F3F4F6;
$color-toggle: #4D5562;
$color-btn-border: #E2E3E5;

// FONT VARIABLES
$font-primary: "Inter", sans-serif;

$content-width: 535px;
